<!--     <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
-->
@{Layout="Layout.cshtml";}
<h1> My WebMatrix Web Page</h1>
<h2> Main Ingredients</h2>
<p>A Home Page (Default.cshtml)</p>
<p>A Style Sheet (Site.css)</p>
<a href="~/Customers.cshtml">Our Customers</a>
<br />
<a href="~/About.cshtml">About us</a></html>    