<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="Site.css">
        <a href="~/">Home</a>
        <title>My Site</title>
    </head>
    <body>
        <div id="main">
            @RenderBody()
            <p>&copy; 2013 Coberlin.  XOXO</p>
        </div>
    </body>
</html>
