<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="Site.css">
        <title>My Site</title>
    </head>
    <body>
        <ul id="menu">
            <li><a href="Default">Home</a></li> 
            <li><a href="About">About</a></li>
            <li><a href="~/Customers">Data</a></li>
            <li><a href="~/AJAX.html">Data via AJAX</a></li>
            <li><a href="Register">Register</a></li>
            <li><a href="Login">Login</a></li>
        </ul> 
        <div id="main">
            @RenderBody()
            <p>&copy; 2013 Coberlin.  XOXO</p>
        </div>
    </body>
</html>
