@{Layout="Layout.cshtml";

// Initialize page
var username = "";
var password = "";
var ErrorMessage = "";

// If this is a POST request, validate and process data
if (IsPost)
  {
  username = Request.Form["username"];
  password = Request.Form["password"];
  if (username.IsEmpty() || password.IsEmpty())
    {ErrorMessage = "You must specify a username and password.";}  
  else
  {
  // Login, Navigate back to the homepage and exit
  if (WebSecurity.Login(username, password, false))
    {Response.Redirect("Default.cshtml");}
    else
    {ErrorMessage = "Login failed";}
  }
}

if (ErrorMessage!="") 
{
<p>@ErrorMessage</p> 
<p>Please correct the errors and try again.</p>
}

}

<h1>Login</h1>
<form method="post" action="">
<fieldset>
<legend>Log In to Your Account</legend>
<ol>
<li>
<label>Username:</label>
<input type="text" id="username" name="username" />
</li>
<li>
<label>Password:</label>
<input type="password" id="password" name="password" />
</li>
<li>
<p><input type="submit" value="login" /></p>
</li>
</ol>
</fieldset>
</form>